footer {
  height: 50px;
  background-color: #114fa7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.marca1 {
  margin-left: 160px;
}
.marca1 a{
  text-decoration: none;
  color: #FAFAFA;
}
.marca2{
  display: flex;
  align-items: center;
  margin-right: 160px;
}
.marca2-marca{
  margin-left: 5px;
  margin-right: 5px;
  color: aqua;
}