footer {
  height: 50px;
  background-color: #114fa7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
}

.marca1 {
  margin-left: 160px;
}
.marca1 a{
  text-decoration: none;
  color: #FAFAFA;
  font-weight: 600;
}
.marca2{
  display: flex;
  align-items: center;
  margin-right: 160px;
  gap: 5px;
}
.assinatura{
  font-weight: 600;
}