.secao {
  display: flex;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
  align-items: center;
  width: 620px;
  margin-left: 160px;
  border-radius: 20px;
  height: 119px;
  margin-top: 32px;
}
.frase_mob {
  visibility: hidden;
  margin-top: 20px;
  background-color: #ffd569;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}
.frase_mob h2 {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.secao img {
  padding-left: 27px;
}
.frase {
  height: 119px;
}
.frase h2 {
  color: black;
  padding-left: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
.frase p {
  color: black;
  padding-left: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-top: 6px;
}
.subtitulo {
  height: 30px;
  display: flex;
  margin-top: 32px;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
}
.andamento {
  padding-left: 55px;
}
.feito {
  padding-left: 210px;
}

.subtitulo img {
  margin-left: 202px;
}
.botao_add {
  background-color: aqua;
  width: 30px;
}

.subtitulo p {
  color: black;
}

.estrutura {
  display: flex;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 8px;
  margin-bottom: 20px;
  min-width: 1041px;
  /* width: 1041px; */
  
  gap: 40px;
}

.estrutura-fazer,
.estrutura-fazendo,
.estrutura-feito {
  background-color: #eeeeee;
  width: 293px;
  border-radius: 20px;
}
.fazer-item {
  background-color: #fff;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}
.fazer-item p {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}
.fazer-item h2 {
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
.more {
  display: inline-block;
}

.more_vert {
  padding-right: 10px;
}
.btn_exp {
  background-color: #fff;
  border: none;
  /* cursor: pointer; */
}
.sup {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 21px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.inf {
  display: flex;
  justify-content: space-between;
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
}
.menuExcluir {
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.btn-excluir {
  padding: 0px;
  width: auto;
  background-color: #fff;
  border: none;
  position: absolute;
  right: 10px;
  visibility: hidden;
}
.btn-excluir:target {
  visibility: visible;
  opacity: 1;
}
.prox {
  display: inline-block;
  padding-right: 9px;
}
.botoes_nav {
  display: flex;
  gap: 8px;
  padding-top: 10px;
}
.descricao {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.carrossel {
  display: flex;
  /* overflow: hidden; */
  /* width: 300px; */
  align-items: center;
  justify-content: center;
}

.slide {
  margin-left: 100px;
  margin-right: 100px;
  color: black;
  flex: 0 0 100%;
  display: none;
  /* Outros estilos para cada slide */
}
.ativo{
  display: block;
}
.fazer_carrossel{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fazer_carrossel h2{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}
@media screen and (max-width: 600px) {
  .secao {
    display: none;
  }
  .frase_mob{
    visibility: visible;
  }
  header{
    padding-left: 100px;
    padding-right: 100px;
  }
  
}
@media screen and (max-width: 1000px) {
  .secao{
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
}